In [1]:
import pandas as pd

In [8]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
                 index=['cobra', 'viper', 'sidewinder'],
                 columns=['max_speed', 'shield'])
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [12]:
# returns row as a series
df.loc['viper']

max_speed    4
shield       5
Name: viper, dtype: int64

In [14]:
# List of labels. [[]] returns a DataFrame
df.loc[['viper', 'sidewinder']]

            max_speed  shield
viper               4       5
sidewinder          7       8

In [15]:
# single lable for row and column
df.loc['viper', 'max_speed']

4

In [16]:
df.loc['cobra':'viper', 'max_speed']

cobra    1
viper    4
Name: max_speed, dtype: int64

In [17]:
df.loc['cobra':'viper', 'max_speed':'shield']

       max_speed  shield
cobra          1       2
viper          4       5

In [23]:
# Boolean list with the same length as the row axis
df.loc[[False, False, True]]

            max_speed  shield
sidewinder          7       8

In [20]:
df['shield'] > 6

cobra         False
viper         False
sidewinder     True
Name: shield, dtype: bool

In [28]:
df.loc[df['shield'] > 6]

            max_speed  shield
sidewinder          7       8

In [29]:
df.loc[df['shield'] > 6, ['max_speed']]

            max_speed
sidewinder          7

In [34]:
df.loc[[False, False, True], [True, False]]

            max_speed
sidewinder          7

In [35]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [46]:
df.loc[['viper']]

       max_speed  shield
viper          4       5

In [48]:
df['shield']

cobra         2
viper         5
sidewinder    8
Name: shield, dtype: int64